header {
  background-color: white;
    color: darkturquoise;
    font-family: sans-serif; 
    font-size: 10mm;
  text-align: center;
  padding: 20px;
    
}


.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
} 



.column {   
  float: left;
  width: 75%;
}






